.header {
  width: 100%;
  height: 100px;
  background: #D8D8D8;
}

/* Use float to get this container in its desired location. */
.content-left {
  width: 34%;
  float: left;
  /* This height is a placeholder. You will need to make some adjustments to get this container to look like the design. */
  height: calc(100vh - 200px);
  background: #565555;
}

/* Use float to get this container in its desired location. */
.content-mid {
  width: 66%;
  float: right;
  /* This height is a placeholder. You will need to make some adjustments to get this container to look like the design. */
  height: calc(100vh - 200px);
  background: #B0B0B0;
}

/* Use float to get this container to the bottom of the screen  */
.footer {
  width: 100%;
  height: 100px;
  background: #3A3A3A;
  clear: both;
}