/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */
.content-mid {
  padding: 80px;
}

.content-mid-header {
  background: #444;
  height: 25%;
  width: auto;
}

.content-container {
  width: auto;
  height: 70%;
}

.content {
  background: #D8D8D8;
  padding: 20%;
  width: auto;
  height: 100%;
  text-align: center;
}